alembic==1.13.1
altair
anyio
arrow
attrs
Babel
bcrypt
black
bokeh
boto3
botocore
certifi
cffi
chardet
click
cloudpickle
colorama
cookiecutter
cryptography
cycler
dask
decorator
defusedxml
distributed
email-validator
entrypoints
et-xmlfile
fastjsonschema
filelock
flake8
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fsspec
gitpython
greenlet
gunicorn==19.9.0
h5py
hvplot
idna
imageio
imbalanced-learn
importlib-metadata
ipykernel
ipython
ipywidgets
isort
itsdangerous==2.2.0
jedi
Jinja2==3.1.4
jmespath
joblib
jsonschema
jupyter
jupyter_client
jupyter_core
jupyterlab
jupyterlab-widgets
keyring
kiwisolver
lazy-object-proxy
llvmlite
locket
lxml
MarkupSafe==2.1.1
matplotlib
mistune
mkl-service==2.4.0
more-itertools
mpmath
msgpack
multipledispatch
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numba
numexpr
numpy
numpydoc
opencv-python==4.10.0.82
openpyxl==3.0.10
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathspec
pexpect
pickleshare
Pillow
pip
pkginfo
platformdirs
pluggy
pooch
prompt-toolkit
psutil
ptyprocess
pure-eval
py
pyasn1
pycodestyle
pycparser
pycryptodome
pyflakes
pygments
PyJWT
pylint
pympler
pyodbc
pyOpenSSL
pyparsing
pyrsistent
pytables
pytest
python-dateutil
pytz
pywin32
PyYAML
pyzmq
qtconsole
QtPy
requests
s3fs
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
SQLAlchemy
stack-data
statsmodels
sympy
tables
terminado
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
twisted
typing-extensions
ujson
urllib3
validators
virtualenv
watchdog
wcwidth
webencodings
websockets
Werkzeug==2.3.7
widgetsnbextension
wrapt
WTForms==3.0.1
zict
zipp
zope.interface

